
.text_bst{
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.text{
    height: 26px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
.bosuutap{

    display: flex;
    padding-bottom: 5px;
    border-bottom: 3px solid orange;
}
.img_bst{
    cursor: pointer;
}
.gr_promotion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.item_promotion{
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.item_promotion:hover{
    color: orange;
    animation: ani 0.8s;
    
}
@keyframes ani{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
}