
.name_product{font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    color: #17191C;}
.product_top{
    display: flex;
}
.quantity{
    display: flex;
}
.reduce,
.increase,
.num_quantity{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa3a3;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}
.btn_buy_item{
    display: flex;
    flex-direction: column;
    gap:16px;
    button{
        border-radius: 4px;
        padding: 10px;
    }
}
.add_cart{
    color: #fff;
    
    font-weight: 500;
    background-color: #fcaf17;
    box-shadow: 0px 3px 0px 0px #CA8C12 !important;
    border: none;
}
.buy_now{
    background: none;
}
.add_cart:hover{
    opacity: 0.7;
}
.mb_20{
   margin: 50px auto;
}
.payment_policy_wrapper .pdp_thong_tin .icon{
    display: flex;
    gap: 8px;
    padding-bottom: 16px !important;
    align-items: center;
}
.payment_policy_wrapper .pdp_thong_tin:first-child{
    margin-top: 20px;
}
.property_outstanding{
    padding: 19px 12px;
    font-size: 18px;
    color: #000;

}
.accordion_panel{
    transition-duration: 0.25s;
    max-height: 218px;
}
.accordion_content{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 12px;
}
.box_promotion{
    padding-left: 25px;
    margin-bottom: 0;
    position: relative;
}
.mr_lr{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}
.mr_lr:hover{
    color: #fcaf17;
}
.breadcrumb{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.toggle_text{
    justify-content: space-between;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.text_title{
    font-size: 18px;

}
.hd_su_dung{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 40px;
}
.hd_su_dung li{
    list-style: disc;
}
.d_lg_block{
    color: #000;
    // font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}