
.header_admin{
    display: flex;
    width: 100%;
}
.logo_admin{
    display: flex;
    gap:5px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 260px;
    background: #fcaf17;
    padding: 10px;
}
.logo_admin_right{
   display: flex;
    width: 100%;
    align-items: center;
}
.he{
    position: fixed;
    z-index: 99999;
    top:0px;
    width: 100%;
}