.modal-custom{
    .ant-modal-header{
        // background: #4c5bd4;
        // padding: 20px;
        
        text-align: center;
        .ant-modal-title{
            // color: #fff;
            padding-top: 20px;
            font-size: 18px;
        }
    }
    .ant-modal-content{
        padding: 0;
    }
  
        width: 720px !important;
    
}
.ant-breadcrumb{
    background: #fff !important;
}