.cart{
    cursor: pointer;
    display: flex;
    gap: 5px;
}
.popup{
    position: relative;
}
.top_cart_content{
    position: absolute;
    z-index: 1;
    top: 26px;
    background: #fff;
    width: 477px;
    right: -184px;
    // text-align: center;
    display: none;
}
.CartHeaderContainer{
    padding: 20px;
    box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    -o-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    -moz-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
}
.buy__now{

    text-decoration: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
}
.account{

    text-decoration: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    padding-top: 30px;
    font-weight: normal;
}
.account:hover,
.buy__now:hover{
    color: #ffc107;
}
.popup:hover .top_cart_content{
    display: block;
}
.cart__empty_message{
text-align: center;
}